div.container
	div.row
		div#sidebar.col-xs-2.hidden-xs
			div.block
				h2 PLATFORMS
				ul.list-unstyled
					li
						a(href="#") Android
					li
						a(href="#") Email
					li
						a(href="#") Facebook Messenger
					li
						a(href="#") iPhone
					li
						a(href="#") Kik
					li
						a(href="#") Slack
					li
						a(href="#") SMS
					li
						a(href="#") Telegram
					li
						a(href="#") Web
			div.block
				h2 CATEGORIES
				ul.list-unstyled
					li
						a(href="#") Build A Bot
					li
						a(href="#") Analytics
					li
						a(href="#") Communication
					li
						a(href="#") Customer Support
					li
						a(href="#") Developer Tools
					li
						a(href="#") File Management
					li
						a(href="#") Health
					li
						a(href="#") HR
					li
						a(href="#") Marketing
					li
						a(href="#") Office Management
					li
						a(href="#") Payments
					li
						a(href="#") Personal
					li
						a(href="#") Productivity
					li
						a(href="#") Security
					li
						a(href="#") Social & Fun
					li
						a(href="#") Task Management
					li
						a(href="#") Travel
		div#main.col-xs-10.col-xs-12
			div.block
				header
					h2 Featured Bots
				div.row.bot-list
					div.col-sm-4.col-xs-12
						div.bot
							div.row
								div.col-sm-4.col-xs-4
									a(href="#")
										img.fill.avatar(src="../images/1.png")
								div.col-sm-8.pad-left-clear
									h2
										a(href="#") Chatfuel
									p.category Build A Bot
									p.platforms
										img(height="20" title="Facebook Messenger" src="../images/s1.png")
										img(height="20" title="Telegram" src="../images/s2.png")
					div.col-sm-4.col-xs-12
						div.bot
							div.row
								div.col-sm-4.col-xs-4
									a(href="#")
										img.fill.avatar(src="../images/2.png")
								div.col-sm-8.pad-left-clear
									h2
										a(href="#") botgig
									p.category Build A Bot
									p.platforms
										img(height="20" title="Facebook Messenger" src="../images/s1.png")
										img(height="20" title="Telegram" src="../images/s3.png")
										img(height="20" title="Facebook Messenger" src="../images/s4.png")
										img(height="20" title="Telegram" src="../images/s5.png")
					div.col-sm-4.col-xs-12
						div.bot
							div.row
								div.col-sm-4.col-xs-4
									a(href="#")
										img.fill.avatar(src="../images/3.png")
								div.col-sm-8.pad-left-clear
									h2
										a(href="#") Smooch for Messenger
									p.category Build A Bot
									p.platforms
										img(height="20" title="Facebook Messenger" src="../images/s1.png")
					div.col-sm-4.col-xs-12
						div.bot
							div.row
								div.col-sm-4.col-xs-4
									a(href="#")
										img.fill.avatar(src="../images/4.png")
								div.col-sm-8.pad-left-clear
									h2
										a(href="#") Botlytics
									p.category Build A Bot +3
									p.platforms
										img(height="20" title="Facebook Messenger" src="../images/s4.png")
					div.col-sm-4.col-xs-12
						div.bot
							div.row
								div.col-sm-4.col-xs-4
									a(href="#")
										img.fill.avatar(src="../images/5.png")
								div.col-sm-8.pad-left-clear
									h2
										a(href="#") Messenger Platform
									p.category Build A Bot
									p.platforms
										img(height="20" title="Facebook Messenger" src="../images/s1.png")
					div.col-sm-4.col-xs-12
						div.bot
							div.row
								div.col-sm-4.col-xs-4
									a(href="#")
										img.fill.avatar(src="../images/6.png")
								div.col-sm-8.pad-left-clear
									h2
										a(href="#") Bot Platform 2.0
									p.category Build A Bot
									p.platforms
										img(height="20" title="Facebook Messenger" src="../images/s2.png")
			div.block
				header
					h2 NEW Bots
				div.row.bot-list
					div.col-sm-4.col-xs-12
						div.bot
							div.row
								div.col-sm-4.col-xs-4
									a(href="#")
										img.fill.avatar(src="../images/7.png")
								div.col-sm-8.pad-left-clear
									h2
										a(href="#") And Chill
									p.category Personal +1
									p.platforms
										img(height="20" title="Facebook Messenger" src="../images/s1.png")
										img(height="20" title="Telegram" src="../images/s6.png")
					div.col-sm-4.col-xs-12
						div.bot
							div.row
								div.col-sm-4.col-xs-4
									a(href="#")
										img.fill.avatar(src="../images/8.png")
								div.col-sm-8.pad-left-clear
									h2
										a(href="#") Kitbot
									p.category Personal +1
									p.platforms
										img(height="20" title="Facebook Messenger" src="../images/s1.png")
										img(height="20" title="Telegram" src="../images/s6.png")
					div.col-sm-4.col-xs-12
						div.bot
							div.row
								div.col-sm-4.col-xs-4
									a(href="#")
										img.fill.avatar(src="../images/9.png")
								div.col-sm-8.pad-left-clear
									h2
										a(href="#") Surveybot
									p.category Marketing
									p.platforms
										img(height="20" title="Facebook Messenger" src="../images/s1.png")
					div.col-sm-4.col-xs-12
						div.bot
							div.row
								div.col-sm-4.col-xs-4
									a(href="#")
										img.fill.avatar(src="../images/10.png")
								div.col-sm-8.pad-left-clear
									h2
										a(href="#") Air Meekan
									p.category Travel
									p.platforms
										img(height="20" title="Facebook Messenger" src="../images/s1.png")
					div.col-sm-4.col-xs-12
						div.bot
							div.row
								div.col-sm-4.col-xs-4
									a(href="#")
										img.fill.avatar(src="../images/11.png")
								div.col-sm-8.pad-left-clear
									h2
										a(href="#") Emojify
									p.category Social & Fun
									p.platforms
										img(height="20" title="Facebook Messenger" src="../images/s5.png")
										img(height="20" title="Telegram" src="../images/s2.png")
					div.col-sm-4.col-xs-12
						div.bot
							div.row
								div.col-sm-4.col-xs-4
									a(href="#")
										img.fill.avatar(src="../images/12.png")
								div.col-sm-8.pad-left-clear
									h2
										a(href="#") Unsplash
									p.category Social & Fun +1
									p.platforms
										img(height="20" title="Facebook Messenger" src="../images/s5.png")
			div.block
				header
					h2 UPCOMING
				div.row.bot-list
					div.col-sm-4.col-xs-12
						div.bot
							div.row
								div.col-sm-4.col-xs-4
									a(href="#")
										img.fill.avatar(src="../images/13.png")
								div.col-sm-8.pad-left-clear
									h2
										a(href="#") Troops
									p.category Analytics +2
									p.platforms
										img(height="20" title="Facebook Messenger" src="../images/s5.png")
					div.col-sm-4.col-xs-12
						div.bot
							div.row
								div.col-sm-4.col-xs-4
									a(href="#")
										img.fill.avatar(src="../images/14.png")
								div.col-sm-8.pad-left-clear
									h2
										a(href="#") Baxter
									p.category Productivity +1
									p.platforms
										img(height="20" title="Facebook Messenger" src="../images/s5.png")
					div.col-sm-4.col-xs-12
						div.bot
							div.row
								div.col-sm-4.col-xs-4
									a(href="#")
										img.fill.avatar(src="../images/15.png")
								div.col-sm-8.pad-left-clear
									h2
										a(href="#") Cache
									p.category Personal +1
									p.platforms
										img(height="20" title="Facebook Messenger" src="../images/s6.png")