div.container
	div.row
		h3.see As Seen On
		hr
		div.col-sm-3.col-xs-6
			img(src="https://botlist.co/images/techcrunch.svg")
		div.col-sm-3.col-xs-6
			img(src="https://botlist.co/images/tnw.svg")
		div.col-sm-3.col-xs-6
			img(src="https://botlist.co/images/digital-trends.svg")
		div.col-sm-3.col-xs-6
			img(src="https://botlist.co/images/engadget.svg")
div.container.foot
	div.row
		div.col-sm-6 © BotList 2016, A Marketing Stack Ltd Company
		div.col-sm-6.foot-right Built by:
			a(href="#") @bentossell
			a(href="#") @sethlouey
			a(href="#") @mubashariqbal
