*{
	margin: 0;
	padding: 0;
	}
li{
	list-style: none;
}
img{
	border: 0;
}
a{
	text-decoration: none;
	color: black;
}
#wrap{
	width: 10.0rem;
	margin: 0 auto;
	background-color: #ffffd5;
	padding-bottom:0.933333rem;
}
  /*头部*/
.header{
	padding: 0.4rem 0.702222rem 0.248889rem 0.622222rem;
}
.headerTop {
	width: 8.675556rem;
	height: 0.471111rem;

}
.headerTop span{
	display:inline-block; 
	font-size:0.311111rem;
	letter-spacing:0.008889rem;
}
.headerTop h2:nth-child(1){
	display: inline-block;
	font-size: 0.471111rem;
	font-weight: 900;
	color: #e60012;
}
.headerTop span:nth-child(2){
	width: 0.462222rem;
	height: 0.382222rem;
	margin-left:0.577778rem;
	background: url('../img/bg.png') no-repeat;
	background-size:7.546667rem 4.8rem;
}
.headerTop span:nth-child(3){
	height: 0.382222rem;
	color: #5e5859;
	font-weight: 500;
	margin-top: -0.266667rem;
}
.headerTop span:nth-child(3)::after{
	content: '￥20';
	margin-left:0.088889rem;
	color: #e60012;	
}
.header ul{
	margin-top: 0.4rem;
	overflow: hidden;
}
.header ul li{
	width: 3.982222rem;
	height: 1.44rem;
	padding: 0.266667rem 0 0 0.231111rem;
	background-color: #fa3530;
	margin: 0 0.24rem 0.24rem 0;
	border-radius: 0.106667rem;
	float: left;
}
.header ul li:nth-child(2n){
	margin-right: 0;
}
.header ul li .left{
	width: 0.995556rem;
	height: 1.2rem;
	float: left;
}
.header ul li .right{
	height: 1.2rem;
	margin-left: 0.4rem;
	float: left;
} 
.header ul li .right span:nth-child(1){
	display: block;
	font-size: 0.4rem;
	color: #fff;
	margin-bottom: 0.213333rem;
}
.header ul li .right span:nth-child(2){
	font-size: 0.622222rem;
	color: #fff;
	font-family: arial;
	font-weight: 900;
}
.header ul li:nth-child(1) .right span:nth-child(2)::before{
	content: '￥';
	color: #fff;
	font-size: 0.311111rem;
	margin-right: 0.088889rem;
}
.header ul li:nth-child(1) .left{
	background: url('../img/bg.png') no-repeat 0 -0.888889rem;
	background-size:7.546667rem 4.8rem;
}
.header ul li:nth-child(2) .left{
	background: url('../img/bg.png') no-repeat 0 -2.213333rem;
	background-size:7.546667rem 4.8rem;
}
.header ul li:nth-child(2) .right span:nth-child(2)::after{
	content: 'MB';
	color: #fff;
	font-size: 0.311111rem;
	margin-left: 0.088889rem;
}
.header ul li:nth-child(3) .left{
	width: 1.191111rem;
	height: 1.244444rem;
	background: url('../img/bg.png') no-repeat 0 -3.555556rem;
	background-size:7.546667rem 4.8rem;
}
.header ul li:nth-child(3) .right{
	line-height:1.2rem;
	font-size: 0.4rem;
	color: #fff;
}
.header ul li:nth-child(3),.header ul li:nth-child(4){
	margin-bottom: 0;
}
.header ul li:nth-child(4){
	width: 4.124444rem;
	height: 1.617778rem;
	line-height:1.617778rem;
	padding: 0;
	text-align: center;
	color: #f9a09e;
	font-size: 0.4rem;
	border: 0.044444rem dashed #f9a09e;
	background-color: #ffffd5;
}

/*轮播图部分*/
#middle{
	width: 10.0rem;
	height: 4.266667rem;
	background-color: #f51829;
	position: relative;
	overflow: hidden;
}
#middle p{
	font-size: 0.471111rem;
	color: #fff;
	position: absolute;
	top: 0.408889rem;
	left: 0.711111rem;
}
#middle p span{
	font-size: 0.533333rem;
	color: #fff000;
}

#ulWrap{
	position: absolute;
	top: 0;
	left: 0;

}
#middle .treasure{
	width: 10.0rem;
	float: left;
	overflow: hidden;
}
#middle .treasure li{
	width: 2.844444rem;
	height: 2.08rem;
	margin:1.315556rem 0.088889rem 0 0;
	float: left;
	position: relative;
	cursor: pointer;
}

#middle .treasure li:nth-child(1){
	margin-left: 0.471111rem;
}

#middle .treasure li img{
	width: 100%;
	height: 100%;
	
}
#middle .treasure li .number{
	width: 0.56rem;
	height: 0.56rem;
	font-size: 0.248889rem;
	line-height: 0.56rem;
	border-radius: 50%;
	background-color: #fff;
	text-align: center;
	color: #f51829;
	position: absolute;
	top: 0.088889rem;
	right: 0;

}
.next{
	width: 0.693333rem;
	height: 0.817778rem;
	text-align: center;
	background-color: #952025;
	border-radius: 0.106667rem 0 0 0.106667rem;
	cursor: pointer;
	position: absolute;
	top: 1.786667rem;
	right: 0;
}
.next img{
	width: 0.248889rem;
	height: 0.515556rem;
	margin-top: 0.16rem;
}
#dots{
	position: absolute;
	bottom: 0.16rem;
	left: 4.506667rem;
	z-index: 99;
	overflow: hidden;
}
#dots li{
	width: 0.222222rem;
	height: 0.222222rem;
	background-color: #cdcbcb;
	float: left;
	margin-right: 0.16rem;
	border-radius: 50%;
}

.active{
	background-color: #534c4c!important;
}

 /*底部*/
.bottom1{
	width: 5.475556rem;
	height: 1.12rem;
	margin: 0.213333rem 0 0 0.497778rem;
	background: url('../img/bg.png') no-repeat -1.333333rem 0;
	background-size:7.546667rem 4.8rem;
}
.bottom li{
	width: 8.586667rem;
	height: 1.253333rem;
	margin:auto;
	margin-bottom: 0.213333rem;
	border-radius: 0.106667rem;
	overflow: hidden;
}
.bottom li div{
	display: inline-block;
	width:1.777778rem;
	height: 1.253333rem;
	float: left;
}
.bottom li:nth-child(1){
	margin-top: 0.266667rem;
	background-color: #f3aa1f;
}
.bottom li:nth-child(1) div{	
	background: url('../img/bg.png') no-repeat -1.333333rem -1.333333rem;
	background-size:7.546667rem 4.8rem;
}
.bottom li:nth-child(2){
	background-color: #f6510f;
}
.bottom li:nth-child(2) div{	
	background: url('../img/bg.png') no-repeat -3.555556rem -1.333333rem;
	background-size:7.546667rem 4.8rem;
}
.bottom li:nth-child(3){
	background-color: #e9221d;
}
.bottom li:nth-child(3) div{	
	background: url('../img/bg.png') no-repeat -5.777778rem -1.333333rem;
	background-size:7.546667rem 4.8rem;
}
.bottom li a{	
	height: 1.244444rem;
	line-height: 1.244444rem;
	font-size: 0.408889rem;
	color: #fff;
	text-decoration: none;
	margin-left: 0.266667rem;
	letter-spacing: 0.053333rem;
	float: left;
}
.bottom li span{
	width: 1.351111rem;
	height: 1.253333rem;
	float: right;
	margin-right: 0.231111rem;
	background-color: pink;
}
.bottom li:nth-child(1) span{
	background: url('../img/bg.png') no-repeat -1.333333rem -3.422222rem;
	background-size:7.546667rem 4.8rem;
}
.bottom li:nth-child(2) span{
	background: url('../img/bg.png') no-repeat -3.466667rem -3.466667rem;
	background-size:7.546667rem 4.8rem;
}
.bottom li:nth-child(3) span{
	background: url('../img/bg.png') no-repeat -5.777778rem -3.466667rem;
	background-size:7.546667rem 4.8rem;
}