div.header-bg
	div.header
		nav.navbar.navbar-default
			div.container
				div.navbar-header
					botton.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="margin-top: 28px;")
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href="#")
						img(src="../images/logo.png")
				div.collapse.navbar-collapse#bs-example-navbar-collapse-1
					ul.nav.navbar-nav.navbar-right.information
						li
							a(href="#") Mission
						li
							a(href="#") FAQ
						li
							a(href="#") Blog
						li
							a(href="#")
								img(src="../images/france.png")
						li
							a(href="#")
								img(src="../images/usa.png")
	div.banner
		div.container
			div.col-md-7.banner-info-left
				div.slogan
					h2(style="color:#404040; text-align: center; font-size:26px;")
						span#demo
						span#demo_container
							span.roating
								span.front.animated.fadeOut
									span It's about time
				h2(style="color:#404040;") email that matters, 
					p when it matters.
					p
						a.play-icon.popup-with-zoom-anim(href="#") Watch the video
							i.fa.fa-play-circle
			div.col-md-5.slid
				div#top.callbacks_container
					ul.rslides.callbacks.callbacks1#slider4
						li#callbacks1_s0
							div.mobile-device
								img(src="../images/slide-1.png")
					ul#dots
						li.active
						li
						li
						li
			div.clearfix
